.btnDark {
  cursor: pointer;
  padding: 3vh 26vw;
  font-size: 18px;
  border-radius: 9px;
  border-style: none;
  background: linear-gradient(#e3bb1c, #b38b16);
}

.btnDark:hover {
  background: linear-gradient(#b39212, #ecb71b);
  font-weight: bold;
}

.basmalaImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 91%;
}

#basmala-img {
  fill: #000000;
}

p {
  line-height: 2.2em;
  padding: 0px 5px 10px;
  font-size: 29px;
}

body {
  text-align: center;
  display: grid;
  justify-content: start;
  background: rgb(233, 207, 152);
  padding: 25px;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.about {
  font-family: fantasy;
  margin: 0px 15px 0px;
  padding: 15px 32px 10px;
}
