
.btnDark {
    background: #fff;
    padding: 3vh 26vw;
    font-size: 18px;
    border-style: revert;
    border-radius: 9px;
}

.btnDark:hover {
    background: rgb(59, 168, 32);
    font-weight: bold;
}

p {
    line-height: 2.2em;
    padding: 0px 5px 10px;
    font-size: 29px;
}

body {
    text-align: center;
    display: grid;
    justify-content: start;
    background: rgb(233, 207, 152);
    padding: 25px;
    color: black;
    font-size: 25px;
  }
  
.dark-mode {
    background-color: black;
    color: white;
}

.about {
    font-family: fantasy; 
    margin: 0px 15px 0px; 
    padding: 15px 32px 10px;
}
